@{
  Layout="Shared/_Layout.cshtml";
}


<h1>@Model.GetFirst()  @Model.GetLast()</h1>
<h2>Phone number: @Model.GetNumber()</h2>
<h3>Address: @Model.GetAddress()</h3>
<h3>City: @Model.GetCity()</h3>
<h3>State: @Model.GetState()</h3>
<h3>Zip Code: @Model.GetZip()</h3>

<p><a href="/">Click here</a> to view all contacts!</p>
